/** navigation **/

nav {
	background-color: var(--main-dark-color);
	border-bottom: 3px solid var(--main-light-gray);
	color: var(--main-bg-color);
	box-shadow: none;
	padding: 1vw 2vh 1vw 2vh;
	height: 10vh;
	width: 100vw;
	min-height: 80px;
	transition: all 0.5s;
}

nav,
.sidenav {
	font-family: 'Quantico', sans-serif;
}

nav.scrollUp {
	transform: translateY(-10vh);
}

.nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .sidenav-trigger,
.sidenav>.sidenav-close {
	/* open/close sidenav */
	font-size: 36px;
	float: right;
	color: var(--main-light-gray);
	cursor: pointer;
}

nav .logo-wrapper,
nav .logo {
	height: 8vh;
}

nav .links {
	flex-grow: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 5vw;
}

nav ul a:visited, nav ul a {
	max-width: 16vw;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	color: var(--main-bg-color);
}

nav ul a:hover,
.sidenav ul a:hover {
	background: none;
	color: var(--main-light-gray);
	text-decoration: none;
}

nav .lang {
	font-size: 12px;
	color: var(--main-bg-color);
}

.sidenav {
	background-color: var(--main-dark-color);
	border-bottom: 2px solid var(--main-light-gray);
	height: fit-content;
	box-shadow: none;
	padding: 4vh 10vw;
}

.sidenav .logo {
	height: 12vh;
	width: auto;
}

.sidenav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 4vh 2vh 4vh 2vh;
}

.sidenav-lang {
	font-size: 16px;
	color: var(--main-light-gray);
}

.sidenav li>a {
	display: table-cell;
	vertical-align: middle;
	height: 10vh;
	width: 100vw;
	color: var(--main-bg-color);
	font-size: 24px;

}


#sidebar {
	max-width: 100vw;
	width: auto;
	left: 0;
}

#sidenav-btn-close {
	position: absolute;
	right: 10vw;
	padding: 0;
	font-size: 24px;
	color: var(--main-bg-color);
}