name: Build and Deploy to Github Pages

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Set up Homebrew
              id: set-up-homebrew
              uses: Homebrew/actions/setup-homebrew@master

            - uses: tecolicom/actions-use-homebrew-tools@v1
              with:
                  tools: cestef/tap/zola svgo

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"
            - name: Install dependencies
              run: pnpm install

            - name: Cache Zola build
              uses: actions/cache@v3
              with:
                  path: |
                      ~/.cache/zola
                  key: ${{ runner.os }}-zola-${{ hashFiles('**/*.md', 'config.toml', 'templates/**/*') }}
                  restore-keys: |
                      ${{ runner.os }}-zola-

            - name: Build Tailwind CSS
              run: pnpm run css:build

            - name: Build Zola site
              run: zola build

            - name: Display structure of built files
              run: ls -R public

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: site
                  path: public

    deploy:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: site
                  path: public
            - name: Display structure of downloaded files
              run: ls -R public

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./public
                  publish_branch: gh-pages
                  #   cname: yctf.ch
